*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cursor {
  position: relative;
}

.cursor::before {
  position: absolute;
  bottom: -6px;
  content: "";
  background: #fff;
  width: 80%;
  height: 4px;
}
